page-home {

}

$spinner-width: 50px;


.toolbar-background {
  background-color: rgba(52, 73, 94,1.0);
}

.toolbar-title, .toolbar-button {
  color: white;
}

h3 {
  text-align: center;
  opacity: 0.5;
}

.start-time{
  width: 100%;
  height: 100%;
  background: #FFCE00;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stop-time {
  background: #00ff9b;
}
.start-time ion-icon{
  font-size: 32px;
  text-align: center
}

.title-toolbar{
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grad {
  background: linear-gradient(-45deg, #39FF5F,  #39C0E8);
}
.grad-title {
  float: right;
  background: linear-gradient(-45deg, #39FF5F,  #39C0E8);
}

.card-header{
  font-size: 18px;
  color: #95989A;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 10px;
}
.card-content{
  padding-left: 10px;
  font-size: 14px;
  color: #C7C7C7;
}


.spinner svg {
  width: $spinner-width;
  height: $spinner-width;
  fill: #488aff;
}
.loader-wrapper {
 width: $spinner-width;
  margin: auto;
}
.spinner-md-crescent circle {
  stroke: #488aff;
}
.cont-wrap{
  margin-top: 60px;
}
.popup-wrap{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2147483647;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.create-popup{
  width: 90%;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16);
  z-index: 999;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}
.create-popup input{
  width: 90%;
  height: 30px;
  margin: auto;
  border: none;
  border-bottom: 1px solid #95989A;
}
.create-popup input:focus{
  border-bottom: 1px solid #39C0E8;
  color: #39C0E8;
}.create-popup input:focus::placeholder{
   color: #39C0E8;
 }
 .btn-wrap{
   margin-top: 20px;
 }
 .tt-flat-btn, .tt-btn{
   margin: 0;
 }
 .tt-flat-btn{
   background: transparent;
   color: #95989A;
   font-size: 14px;
   font-weight: 500;
   text-transform: uppercase;
 }
.popup-dark{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  z-index: -3;
}
.tt-hide{
  display: none;
}