<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title color="light">CATEGORIES</ion-title>
    <button ion-button menuToggle><ion-icon color="light" name="reorder"></ion-icon></button>
  </ion-navbar>

  <ion-toolbar>
  </ion-toolbar>

</ion-header>

<ion-menu type="overlay" [content]="mycontent">
  <ion-content>
    <ion-list>
      <h3></h3>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>



<ion-content padding>



  <ion-fab top center edge>
    <button (click)="showPrompt()" ion-fab mini><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-card (press)="fuck($event)" (click)="goTo(event)" *ngFor="let event of events; let i = index">
    <ion-card-header>
      {{event.name}}
    </ion-card-header>
    <ion-card-content>
      {{event.created}}
    </ion-card-content>
  </ion-card>

  <h3 style="margin-top: 50%" *ngIf="!events.length > 0">Click on + to add new category</h3>

</ion-content>
