page-home {

}

$spinner-width: 50px;


.toolbar-background {
  background-color: rgba(52, 73, 94,1.0);
}

.toolbar-title, .toolbar-button {
  color: whitesmoke;
}

h3 {
  text-align: center;
  opacity: 0.5;
}

.start-time{
  width: 100%;
  height: 100%;
  background: #FFCE00;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.stop-time {
  background: #00ff9b;
}
.start-time ion-icon{
  font-size: 32px;
  text-align: center
}

.title-toolbar{
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grad {
  background: linear-gradient(-45deg, #39FF5F,  #39C0E8);
}
.grad-title {
  float: right;
  background: linear-gradient(-45deg, #39FF5F,  #39C0E8);
}
.logo svg{
  max-height: 25px;
  max-width: 150px;
  float: right;
}
.card-header{
  font-size: 18px;
  color: #95989A;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-left: 10px;
}
.card-content{
  padding-left: 10px;
  font-size: 14px;
  color: #C7C7C7;
}


.spinner svg {
  width: $spinner-width;
  height: $spinner-width;
  fill: #488aff;
}
.loader-wrapper {
 width: $spinner-width;
  margin: auto;
}
.spinner-md-crescent circle {
  stroke: #488aff;
}